<div class="fillings" style = "padding-bottom: 100px; padding-top: 100px;">
  <div class="container">
    <div class="row">
      <p class = "text-center" style = "font-size: 30px;">Escolha o recheio do bolo</p>
      <div class="col-md-8 col-md-offset-2" style = "background-color: #FFE8A7;">
        <%= render "filling" %>
      </div>
    </div>
  </div>
</div>
