/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
//@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");
//$base-font: "Open Sans", "Helvetica", "sans-serif";
//$header-font: "Raleway", "Helvetica", "sans-serif";


@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500|Open+Sans:300,400,600');
$base-font: 'Open Sans', sans-serif;
$header-font: 'Raleway', sans-serif;
// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #D23333;

$purple: #33032F;
$blue: #469AE0;
$yellow: #FFE953;
$orange: #E67E22;
$green: #72C472;
$lightgray: #D4D4D4;
$midgray: #B2AFAD;
$gray: #000000;
$mightylightgray: #fcfcfc;
$lightpurple: #998197;
$faceblue: #4D75C6;

$breakpoints: (phoneSmall: 320px, phoneBig: 375px, tablet: 768px, desktop: 1024px);
