<h1>Benvindo a Pastelaria Bonjour</h1>

<h2>Olá <%= @user.first_name %>, </h2>
	<p>Woohoo! Benvido ao site da Pastelaria Bonjour, nos estamos muito contentes de te ter a bordo!</p>
	<p></p>

	<h3>O que podes fazer?</h3>
	<p>Lembramos-te que o site foi feito a pensar em ti em em bolos. </p>
	<p>No site da Bonjour podes:</p>
	<li>Personalizar e encomendar bolos</li>
	<li>Pedir orçamentos de bolos de casamento e outro não listados no site</li>
	<li>Ver informações como direções e horas de funcionamento</li>
	<p></p>

	<h3>Detalhes da tua conta</h3>
	<strong>Nome:</strong> <p> <%=@user.first_name%></p>
	<strong>Email:</strong> <p> <%=@user.email%></p>
	<p></p>
	<p>PS: Se algo estiver errado ou tiverem alguma dúvida basta responder ao email. Nós normalmente respondemos dentro de 24h.</p>
	<p></p>
	<p>Desde já obrigado,</p>
	<p>Eqipa Bonjour</p>

