<div class="banner-doughs" style = "padding-bottom: 100px; padding-top: 100px;">
  <div class="container form-wrapper">
   <div class="row row-height" id = "dynamic-content">
      <h1 id = "step-title" style = "font-size: 30px;">Escolha a decoração do bolo</h1>
        <%= render "decoration" %>

      </div>
  </div>
</div>
