<footer class = "footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-4 text-left">
        <ul class="list-inline">
          <li><a href="https://www.instagram.com/pastelaria.bonjour/"><i class="fa fa-instagram fa-2x"></i></a></li>
          <li><a href="https://www.facebook.com/Pastelaria-Bonjour-Cascais-1424510534502618/"><i class="fa fa-facebook fa-2x"></i></a></li>
        </ul>
      </div>
      <div class="col-xs-8 text-right">
        <ul class="list-inline">
          <li><a href="">Condições</a></li>
          <li>
          <%= link_to about_path do %>
              Sobre
            <% end %>
            </li>
          <li>
          <%= link_to contacts_path do %>
              Contactos
            <% end %>
            </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

