  <section class = form-page>
    <div class="container" >

      <div id="progresstracker">
        <ul>
          <li id = "wiz-1" class = "complete" ><span>1</span></li>
          <li id = "wiz-2" class = "complete"><span>2</span></li>
          <li id = "wiz-3" class = "complete"><span>3</span></li>
          <li id = "wiz-4" class = "complete"><span>4</span></li>
          <li id = "wiz-4" class = "complete active"><span>5</span></li>
        </ul>
      </div>
      <div class="form-wrapper">
        <%= render 'form' %>
        <div id = "down-nav">
          <div class = "down-nav-btn" id="submit-btn">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 48 48" xml:space="preserve" width="48" height="48">
              <g class="nc-icon-wrapper">
                <path id = "path1-r" fill="#72C472" d="M24,1C11.31787,1,1,11.31787,1,24s10.31787,23,23,23s23-10.31787,23-23S36.68213,1,24,1z">
                </path>
                <path id = "path2-r" fill="#FFFFFF" d="M37.58838,23.19141l-11-8c-0.30322-0.22119-0.70703-0.25244-1.04199-0.08252 C25.21094,15.27979,25,15.62402,25,16v6H12c-0.55229,0-1,0.44772-1,1v2c0,0.55228,0.44771,1,1,1h13v6 c0,0.37598,0.21094,0.72021,0.54639,0.89111C25.68945,32.96387,25.84521,33,26,33c0.20752,0,0.41406-0.06445,0.58838-0.19141l11-8 C37.84668,24.62061,38,24.31982,38,24S37.84668,23.37939,37.58838,23.19141z">
                </path>
              </g>
            </svg>
          </div>
          <div class = "down-nav-cart">
           <p> Total: <span id = "cart"></span></p>
         </div>
       </div>
     </div>
   </div>
 </section>

 <% content_for(:after_js) do %>
 <script>
  $(document).ready(function(){
    $("#confirm").addClass("hidden");
    //In mobile, fix navbar to the bottom of the screen
    if ($(window).width() <= 400) {
      $('#down-nav').css({
        position: "fixed", bottom: "0", right: "0", left: "0"
      });
      var bottomOfForm = $(".form-wrapper").offset().top;
      $(window).scroll(function() {
        if($(window).scrollTop() > bottomOfForm) { //scrolled past the other div?
          $('#down-nav').css({
        position: "absolute"}) //reached the desired point
        } else {
          $('#down-nav').css({
            position: "fixed", bottom: "0", right: "0", left: "0"
          });
        }
      });
    };
    $("#delivery_store_pickup").click(function(){
      if ($(this).is(":checked") == true) {
        $("label[for=delivery_address]").hide();
        $("#delivery_address").hide();
        $("label[for=delivery_zipcode]").hide();
        $("#delivery_zipcode").hide();
      } else {
        $("label[for=delivery_address]").show();
        $("#delivery_address").show();
        $("label[for=delivery_zipcode]").show();
        $("#delivery_zipcode").show();
      };
    })
       //Add price to cart
       $("#cart").html("<%= @total %>€");
    //Submit
    $("#submit-btn").click(function(e){
      $("#confirm").click();
    });
  })
</script>
<% end %>
