  <section class = form-page>
    <div class="container" >
      <h1 id = "step-title">Finalizar Encomenda</h1>
      <div id="progresstracker">
        <ul>
          <li id = "wiz-1" class = "complete" ><span>1</span></li>
          <li id = "wiz-2" class = "complete"><span>2</span></li>
          <li id = "wiz-3" class = "complete"><span>3</span></li>
          <li id = "wiz-4" class = "complete"><span>4</span></li>
          <li id = "wiz-4" class = "complete active"><span>5</span></li>
        </ul>
      </div>
      <div class="form-wrapper">
        <%= render 'form' %>
        <div id = "down-nav">
          <div class = "down-nav-btn">
            <%= link_to session[:back_link], class: "navbar-ac-link" do %>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 48 48" xml:space="preserve" width="48" height="48">
              <g class="nc-icon-wrapper">
                <path id = "path1-l" fill="#72C472" d="M24,1C11.31787,1,1,11.31787,1,24s10.31787,23,23,23s23-10.31787,23-23S36.68213,1,24,1z">
                </path>
                <path id = "path2-l" fill="#FFFFFF" d="M23,16c0-0.37598-0.21094-0.72021-0.54639-0.89111c-0.33496-0.16992-0.73682-0.13867-1.04199,0.08252l-11,8 C10.15332,23.37939,10,23.68018,10,24s0.15332,0.62061,0.41162,0.80859l11,8C21.58594,32.93555,21.79248,33,22,33 c0.15479,0,0.31055-0.03613,0.45361-0.10889C22.78906,32.72021,23,32.37598,23,32v-6h13c0.55228,0,1-0.44772,1-1v-2 c0-0.55228-0.44772-1-1-1H23V16z">
                </path>
              </g>
            </svg>
            <% end %>
          </div>
          <div class = "down-nav-btn" id="submit-btn">
           <div class="cta-btn cta-btn-gray" id = "final">Finalizar encomenda</div>
           <div class="radio option-input" id = "check"></div>
          </div>
          <div class = "down-nav-cart">
            <p> Total: <span id = "cart"></span></p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <% content_for(:after_js) do %>
  <script>
    $(document).ready(function(){
      $("#confirm").addClass("hidden");
    //In mobile, fix navbar to the bottom of the screen
    if ($(window).width() <= 400) {
      $('#down-nav').css({
        position: "fixed", bottom: "0", right: "0", left: "0"
      });
      var bottomOfForm = $(".form-wrapper").offset().top;
      $(window).scroll(function() {
        if($(window).scrollTop() > bottomOfForm) { //scrolled past the other div?
          $('#down-nav').css({
        position: "absolute"}) //reached the desired point
        } else {
          $('#down-nav').css({
            position: "fixed", bottom: "0", right: "0", left: "0"
          });
        }
      });
    };
    $("#delivery_store_pickup").click(function(){
      if ($(this).is(":checked") == true) {
        $("label[for=delivery_address]").hide();
        $("#delivery_address").hide();
        $("label[for=delivery_zipcode]").hide();
        $("#delivery_zipcode").hide();
      } else {
        $("label[for=delivery_address]").show();
        $("#delivery_address").show();
        $("label[for=delivery_zipcode]").show();
        $("#delivery_zipcode").show();
      };
    })
       //Add price to cart
       $("#cart").html("<%= @total %>€");


    //Submit
    $("input").change(function(){

      if (($("#delivery_contact_first_name").val() != "") &&
        ($("#delivery_contact_last_name").val() != "") &&
        ($("#delivery_contact_telephone").val() != "") &&
        ($("#delivery_contact_email").val() != "") &&
        ((($("#delivery_store_pickup").is(":checked") == true) ||
          (($("#delivery_address").val() != "") && ($("#delivery_zipcode").val() != ""))) == true) &&
        (($("#delivery_payment_carto_multibanco").is(":checked") == true) || ($("#delivery_payment_numerrio").is(":checked") == true))
        ) {
        $("#check").css({ opacity: "1", background: "transparent" });
        $("#check").addClass("option-input-checked option-input-checked::before");
        $("#final").css({ cursor: "pointer"});
    } else {
      $('#check').css({ opacity: "0" })
    }
  });

    $("#submit-btn").click(function(e){
      $("#confirm").click();
    });
    $("#submit-btn").click(function(e){
      if (($("#delivery_contact_first_name").val() != "") &&
        ($("#delivery_contact_last_name").val() != "") &&
        ($("#delivery_contact_telephone").val() != "") &&
        ($("#delivery_contact_email").val() != "") &&
        ((($("#delivery_store_pickup").is(":checked") == true) ||
          (($("#delivery_address").val() != "") && ($("#delivery_zipcode").val() != ""))) == true) &&
        ($("#delivery_payment_carto_multibanco").is(":checked") == true)
        ) {
        $("#step1").click();
    }
  })
  })
</script>
<% end %>
