<div class="banner-doughs" style = "padding-bottom: 100px; padding-top: 100px;">
  <div class="container">

  <div id="progresstracker">
  <ul>
    <li class="complete"><span>1</span></li>
    <li class="complete"><span>2</span></li>
    <li class="active complete"><span>3</span></li>
    <li><span>4</span></li>
  </ul>
</div>

  <div class="form-wrapper">
      <div class="form-inner-wrapper">
   <div class="row row-height" id = "dynamic-content" style = "max-height: 100%">
        <%= render "other" %>

      </div>
      </div>
      <div id="pre-down-nav">
        <div class = "pre-down-nav-btn"></div>
        <div class = "pre-down-nav-btn"></div>
        <div class = "pre-down-nav-btn" id = "cart-total">
          <p>Total</p>
        </div>
      </div>
      <div id = "down-nav">
        <div class = "down-nav-btn"><%= image_tag("tail-left.svg") %></div>
        <div class = "down-nav-btn" id="submit-btn"><%= image_tag("tail-right.svg") %></div>
        <div class = "down-nav-cart">
          <p id = "cart"></p>
        </div>
      </div>
  </div>
</div>
</div>

<% content_for(:after_js) do %>
<script>
  $(document).ready(function(){
    $("#step3").attr('class', 'hidden'); //hide submit button
    //$(".radio-hide").attr('class', 'hidden'); //hide radio buttons
    $("#submit-btn").removeClass("hidden");
    $('.dough-label').click(function(){
      //Get extras id
      var otherId =  $(this).attr('id');
      var split = otherId.split("other_i_");
      var otherIdNum = Number(split[1]);
      //Select corresponding input
      $("#order_other_" + otherIdNum).prop("checked", true);
      //When choosing extra, remove color and selection from all the other extras
      $(this).addClass("label-color");
      $('.dough-label').not(this).removeClass("label-color");
    })
     $("#submit-btn").click(function(e){
       $("#step3").click();
    // }
     })
  })
</script>
<% end %>
