<section class="about content">
  <div class="container">
    <h3>Sobre a Bonjour</h3>
    <div class="row row-height" style = "margin-bottom: 5em;">
      <div class="col-md-6">
        <div class="polaroids polaroids-right padded-2-bottom">
          <%= image_tag "10473367_1424513991168939_5482884653258251894_n.jpg" %>
        </div>
      </div>
      <div class="col-md-6 flexbox-col">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed convallis, elit a vulputate molestie, ante turpis mollis augue, vehicula molestie mi nulla sed risus. Cras gravida commodo lorem a ultricies. Donec ornare nibh nec libero consequat sollicitudin. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta nisi, obcaecati dolor. Pariatur exercitationem, atque cum ipsum impedit quasi nesciunt illum beatae? Minus enim molestias suscipit. Facere placeat sint qui.</p>
      </div>
    </div>
    <div class="row row-height">
      <div class="col-md-6 flexbox-col">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem totam neque ullam, temporibus sunt reiciendis, expedita. Autem eligendi, maiores voluptates tempora nemo, modi ipsum iure quasi quaerat magni temporibus architecto. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate tenetur recusandae, natus eaque est dignissimos illum itaque enim repellendus similique perferendis maiores sequi maxime, quod atque animi accusantium nostrum adipisci!</p>
      </div>
      <div class="col-md-6 flex-right">
        <div class="polaroids polaroids-left padded-2-top">
          <%= image_tag "pastelaria.jpg" %>
        </div>
      </div>
    </div>
  </div>
</section>


