<div class = "container">
  <h1>Contacts</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <%= image_tag "cake_1.jpg"%>
    <div class="col-md-6">
      <%= render "contactform"%>
    </div>
  </div>
</div>

<div id="map" style="width: 100%; height: 50vh;"></div>

<% content_for(:after_js) do %>

<script>
  var handler = Gmaps.build('Google', { markers: { clusterer: undefined } });
      handler.buildMap({
        provider: {
          scrollwheel: false
          // draggable: false
          // pass in other Google Maps API options here
        },
        internal: {
          id: 'map' }
        },
      function() {
      markers = handler.addMarkers(
          [
            {
              "lat": 38.71588,
              "lng": -9.4168597,
              "infowindow": "<h1>Aix - Marseille</h1><p><img src='https://res.cloudinary.com/wagon/image/upload/c_fill,h_200/v1500988849/nqoqw5sinlj1hqvxrfyi.jpg' height='200'></p>"
            },
          ],
        );
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(16);
      });
</script>

<% end %>
