<div class="banner-contacts">
  <div class="" style="min-height: 100%; padding: 50px 50px;">
    <div class="row" style="min-height: 100%">
      <div class="col-xs-12 col-sm-6 col-lg-4 card-contacts" style="height: 100%">
        <h3>Contactos</h3>
        <h4>Morada</h4>
        <p>Estrada da Ribeira 32, 2775-290 Cascais</p>
        <h4>Telefone</h4>
        <p>968 244 660</p>
        <h4>Horario</h4>
        <p>2ª: fechado</p>
        <p>3ª a Sabado 7:00 - 20:00</p>
        <p>Domingo 8:00 - 20:00</p>
      </div>
    </div>
  </div>
</div>

<div class="" style="padding: 50px 50px;">
  <div class="row row-height">
    <div class="col-xs-12 col-md-6 contact-col padded-2-bottom">
      <h3>Enviar mensagem</h3>
      <%= render "pages/contact_form"%>
    </div>
    <div class="col-xs-12 col-md-6 contact-col" style="height: 437px;" id="map"></div>
  </div>
</div>


<% content_for(:after_js) do %>

<script>
  var handler = Gmaps.build('Google', { markers: { clusterer: undefined } });
  handler.buildMap({
    provider: {
      scrollwheel: false
          // draggable: false
          // pass in other Google Maps API options here
        },
        internal: {
          id: 'map' }
        },
        function() {
          markers = handler.addMarkers(
            [
            {
              "lat": 38.715878,
              "lng": -9.414628,
              "infowindow": "Pastelaria Bonjour"
            },
            ],
            );
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          handler.getMap().setZoom(16);
        });
      </script>

      <% end %>
