<div class="banner-design">
<div class="container">
  <div class="row text-center" style = "color: white;">
  <h1 style = "padding-bottom: 20px;">Quer um bolo à sua medida? Fale connosco!</h1>
    <div class="col-md-6 col-md-offset-3">
      <%= render "designform"%>
    </div>
  </div>
</div>

</div>
