<div class = "padded content" id="design">
<div class="container">
  <div class="row text-center" style = "color: white;">
      <h3>Quer um bolo à sua medida? Fale connosco!</h3>
    <div class="col-md-6 col-md-offset-3">
      <%= render "pages/design_form"%>
    </div>
  </div>
</div>

</div>
