<div class="banner-gallery">
<div class="container">
<h3>Veja os nossos bolos</h3>
  <div class="row" id='gallery'>
    <% FeaturedCake.all.each do |featured_cake| %>
      <div class="col-md-4 col-sm-6 gallery">
        <a href=<%= cloudinary_url(featured_cake.photo.path) %> class="swipebox" title="My Caption">
         <%= cl_image_tag featured_cake.photo.path, class: "gallery-img" %>
       </a>
      </div>
   <% end %>
  </div>
</div>
</div>

<% content_for(:after_js) do %>
<script>
  $(document).ready(function(){
   $("a").click(function(event){
    event.preventDefault();
});
  })
</script>
<% end %>
