 <!–– Nav bar that needs to be in layout/application in production ––>

<%= render 'shared/navbar' %>

 <!–– Banner ––>

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://unsplash.it/1900/900');">
  <div class="banner-content">
    <h1>Pastelaria Bonjour</h1>
    <p>Agora já criar e encomendar os seu bolos online</p>
    <a class="btn btn-primary btn-lg">Cirar o meu Bolo</a>
  </div>
</div>

 <!–– Como funciona ––>

<div class="wrapper banner-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h2>Como Crio o Meu bolo?</h2>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <img src="https://www.unsplash.it/585/300" alt="">
      </div>
      <div class="col-xs-12 col-md-6">

          <h4>Criar o teu Bolo em 4 fazes</h4>
          <li>Massa e Recheio</li>
          <li>Decoração</li>
          <li>Detalhes</li>
          <li>extras</li>

          <h4>Completa a Encomenda</h4>
          <li>Dados de entra</li>
          <li>Pagamento</li>
          <li>Relaxar</li>


          <h4>Comer com os Amigos e Família</h4>
          <li>Comer</li>
          <li>Amar</li>
          <li>Rebolar</li>

      </div>
    </div>
  </div>
</div>

 <!–– Histótia ––>

<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="https://www.unsplash.it/585/300" alt="">
      </div>
      <div class="col-md-6">
        <h3 class="text-center"> Hístoria Bonjour</h3>
      </div>
    </div>
  </div>
</div>


 <!–– footer that needs to be in layout/application in production ––>

<%= render 'shared/footer' %>
