<div class = "banner">
  <div class="banner-wrapper">
    <div class = "banner-content text-center">
      <h1 >Pastelaria Bonjour</h1>
      <h2 >Brevemente</h2>
      <p>968 244 660</p>
      <p style = "font-size: 30px">21 483 5095</p>
      <%= link_to "Facebook", "https://www.facebook.com/Pastelaria-Bonjour-Cascais-1424510534502618/", class: "btn btn-facebook btn-lg" %>
    </div>
  </div>
</div>

