.navbar-ac {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  display: flex;
  height: 70px;
  padding: 0px 30px;
  align-items: center;
  justify-content: space-between;
}

.navbar-ac2 {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background-color: white;
  transition: all 0.3s ease;
  height: 70px;
  padding: 5px 30px;
  color: black;
  position: relative;
  display: flex;
  align-items: center;
}

/* Navbar logo */
.navbar-ac-brand-2 img {
  max-width: 50px;
  height: auto;
  vertical-align: top;
  line-height: 1.8;
}

/* Navbar right section (with form, links, button) */
.navbar-ac-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Optional class to fix the navbar on top */
.navbar-ac-fixed {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 100;
  width: 100%;
}

/* Navbar logo */
.navbar-ac-brand img {
  max-width: 50px;
  height: auto;
  vertical-align: top;
  line-height: 1.8;
}

/* Navbar item */
.navbar-ac-item {
  flex: 0 1 auto;
  cursor: pointer;
  padding: 0 1.25em;
}

/* Navbar standard link */
.navbar-ac-link {
  color: black;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-weight: 600;
}

.navbar-ac-link:hover {
  text-decoration: underline;
  color: black;
}

/* Navbar right button */
.navbar-ac-button {
  //margin-left: 10px;
  padding: 1em 1.5em;
  border-radius: 0px;
  line-height: 1em;
  background-color: white;
  color: black;
  font-size: 12px;
  border: 2px solid black;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
  transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}

.navbar-ac-button:hover {
  color: white !important;
  background-color: black;
  text-decoration: none;
}

.navbar-ac-button-black {
  //margin-left: 10px;
  padding: 1em 1.5em;
  border-radius: 0px;
  line-height: 1em;
  background-color: black;
  color: white !important;;
  font-size: 12px;
  border: 2px solid black;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
  transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}

.navbar-ac-button-black:hover {
  color: black !important;
  background-color: white;
  text-decoration: none;
}

/* Navbar dropdown menu */
.navbar-ac-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}

.navbar-ac-dropdown-menu li > a {
  transition: color 0.3s ease;
  color: black !important;
  font-size: 12px !important;
  line-height: 1em;
  padding: 10px 20px;
  font-size: 12px;
}

.navbar-ac-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}

.navbar-ac-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

.navbar-ac-right .menu {
  display: inline-block;
}

.navbar-ac .menu li a{
  color: black;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 12px;
  letter-spacing: .091em;
  text-transform: uppercase;
  line-height: 1em;
}

.navbar-ac .menu li {
  display: inline-block;
}

.navbar-ac-right ul {
  margin-bottom: 0;
}
