/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

body {
  font-weight: 400;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.row-height {
  display: flex;
  flex-wrap: wrap;
}

.content {
  flex: 1 0 auto;
}


// Paddings
.padded {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.padded-2-bottom {
  padding-bottom: 2em;
}

.padded-2-top {
  padding-top: 2em;
}

.padded-1-bottom {
  padding-bottom: 1em;
}


.padding-bottom-20 {
  padding-bottom: 20px;
}

.padding-right-20 {
  padding-right: 20px;
}

.margin-right-20 {
  margin-right: 20px;
}

.text-09 {
  font-size: 0.9em;
}

.margin-input {
  margin-bottom: 1.3em;
}
