<h1>OrderOthers#new</h1>
<p>Find me in app/views/order_others/new.html.erb</p>

<p>aqui metes a pagina onde estao os extras todos e crias um order_extra para cade extra com a quantidatde num hidden field</p>
