<div class="banner-orders">
<div class="container">
  <div class="row">
    <ul class="breadcrumb">
      <li id = "wiz-1"><a href="javascript:void(0);">Massa e Recheio</a></li>
      <li id = "wiz-2"><a href="javascript:void(0);">Decoração e tamanho</a></li>
      <li id = "wiz-3"><a href="javascript:void(0);">Rever encomenda</a></li>
      <li id = "wiz-4"><a href="javascript:void(0);">Pagar</a></li>
    </ul>
  </div>
  </div>
  <div class="container">
    <div class="form-wrapper">
      <div class="row">
        <h1>Pagar encomenda <%= @order.id %></h1>

        <%= render 'form' %>
      </div>
    </div>
  </div>
  </div>


<% content_for(:after_js) do %>
<script>
  $(document).ready(function(){
    $("#wiz-1").addClass("completed");
    $("#wiz-2").addClass("completed");
    $("#wiz-3").addClass("completed");
    $("#wiz-4").addClass("active");
  })
</script>
<% end %>


