.banner {
  height: calc(100vh - 70px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.3) 50%),url("http://res.cloudinary.com/cloudnary-filipe/image/upload/c_scale,w_1162/v1501077930/amy-treasure-69666_rqooli.jpg");
  background-size: cover;
  padding: 2em 2em;
}

.banner2 {
  background-image: url("https://res.cloudinary.com/cloudnary-filipe/image/upload/v1506006744/jennifer-pallian-173716_psya9j.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 2em 2em;
}

.banner2 h3 {
  color: white;
  font-weight: 200;
}

.banner-content {
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.banner-content h1{
  color: white;
  font-weight: 300;
  text-shadow: 0.5px 0.5px #d1d0cc;
}

.banner-content h2{
  color: white;
  font-weight: 300;
  text-shadow: 0.5px 0.5px #d1d0cc;
}

.banner-content p {
  color: white;
}

.banner-gallery {
  padding-bottom: 100px;
  padding-top: 100px;
}
