.cta-btn {
  font-weight: bold;
  position: relative;
  border-radius: 4px;
  white-space: normal;
  font-size: 14px;
  letter-spacing: .091em;
  white-space: wrap;
}

.cta-btn-red:hover {
  color: white;
  text-decoration: none;
  opacity: 0.8;
}

.cta-btn-white:hover {
  color: $red;
  text-decoration: none;
  opacity: 0.8;
}

.cta-btn-red {
 background-color: $red;
 box-shadow: 0 0 0 4px $red, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
 border: 2px solid white;
 color: white;
}

.cta-btn-white {
 background-color: white;
 box-shadow: 0 0 0 4px white, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
 border: 2px solid $red;
 color: $red;
}

.btn-fillings {
  background-color: $red;
  padding: 10px 15px;
  color: white;
  margin-bottom: 10px;
}

.btn-facebook,
.btn-facebook:link,
.btn-facebook:visited {
  font-weight: bold;
  padding: 11px 15px;
  border-radius: 4px;
  background-color: $faceblue;
  color: white;
  transition: all 0.2s ease;
}


.btn-facebook:hover {
  background-color: #5e8eed;
}


.historia .btn {
  margin-right: 10px;
  margin-left: 10px;
}

@include media("<=phoneSmall") {
  .cta-btn-size {
    padding: 10px 15px;
  }
}

@include media(">phoneSmall", "<=tablet") {
  .cta-btn-size {
  padding: 0.8em 2.8em;
  }
}

@include media(">tablet") {
  .banner2 .custom-container {
    margin-left: 50px;
    margin-right: 50px;
  }

  .cta-btn-size {
    padding: 1.3em 3.2em;
  }
}


//_________FUNKY__________




