.my-btn {
  background-color: black;
  border-radius: 4px;
  padding: 11px 15px;
  color: white;
  font-weight: bold;
}

// .my-btn:hover {
//   background-color: black;
//   border-color: $lightblue;
//   color: white;

// }

.cta-btn-big {
 padding: 15px 50px;
 color: white;
 font-weight: bold;
 font-size: 25px;
 line-height: 70px;
 margin-top: 50px;
 background-color: #ef5352;
 border: 2px solid white;
 position: relative;
    box-shadow: 0 0 0 4px #ef5352, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
}

.cta-btn-big:hover {
color: white;
text-decoration: none;
}

.btn-facebook,
.btn-facebook:link,
.btn-facebook:visited {
  font-weight: bold;
  padding: 11px 15px;
  border-radius: 4px;
  background-color: $faceblue;
  color: white;
  transition: all 0.2s ease;
}


.btn-facebook:hover {
  background-color: #5e8eed;
}
