//-------CTA BUttons-------

.cta-btn {
  font-weight: 400;
  position: relative;
  white-space: normal;
  font-size: 0.75em;
  letter-spacing: .091em;
  white-space: pre;
  text-transform: uppercase;
  -webkit-transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
  transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
  padding: 1.3em 3.2em;
}

.cta-big {
  font-size: 0.875em;
}

.cta-btn-red:hover {
  background-color: white;
  color: $purple;
  text-decoration: none;
}

.cta-btn-white:hover {
  color: $purple;
  background-color: white;
  text-decoration: none;
}

.cta-btn-black:hover {
  color: white;
  background-color: black;
  text-decoration: none;
}

.cta-btn-red {
  background-color: $purple;
  border: 2px solid $purple;
  color: white;
}

.cta-btn-black {
  background-color: white;
  border: 2px solid black;
  color: black;
}

.cta-btn-white {
  background-color: transparent;
  border: 2px solid white;
  color: white;
}

.cta-btn-gray {
  background-color: transparent;
  color: #D4D4D4;
  cursor: not-allowed;
}

.cta-btn-white-purple {
  background-color: white;
  border: 2px solid $purple;
  color: $purple;
}

.cta-btn-white-purple:hover {
  color: $purple;
  text-decoration: none;
  opacity: 0.8;
  box-shadow: 2px 1px 2px 2px rgba(10, 10, 0, 0.5);
}

.btn-width-100 {
  width: 100%;
}

.btn-slim {
  padding: 1em 3.2em;
}

.btn-fillings {
  background-color: $purple;
  padding: 10px 15px;
  color: white;
  margin-bottom: 10px;
}

//--------Social Buttons------
.btn-facebook,
.btn-facebook:link,
.btn-facebook:visited {
  font-weight: bold;
  padding: 11px 15px;
  border-radius: 4px;
  background-color: $faceblue;
  color: white;
  transition: all 0.2s ease;
}

.btn-facebook:hover {
  background-color: #5e8eed;
}

//------Login Buttons-------

.login-btn {
  color: white;
  background-color: black;
  text-transform: uppercase;
  padding: 1em 1em;
  width: 100%;
  font-size: 0.75em;
  -webkit-transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
  transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
  border-radius: 0;
  border: 2px solid black;
}

.login-btn:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
}

//------Radio Buttons-------

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  height: 30px;
  width: 30px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1;
}

.option-input-checked {
  background-color: $green;
}

.option-input:checked {
  background-color: $green;
}

.option-input-checked::before {
  height: 30px;
  width: 30px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 26.66667px;
  text-align: center;
  line-height: 30px;
}

.option-input:checked::before {
  height: 30px;
  width: 30px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 26.66667px;
  text-align: center;
  line-height: 30px;
}

.option-input.radio {
  border-radius: 50%;
}

.option-input.radio::after {
  border-radius: 50%;
}

//------Close Buttons-------

button:focus {
  outline:none;
}

.circCont{
  display:inline-block;
}

.circle {
  width:40px;
  height:40px;
  background:transparent;
  border: 4px solid black;
  border-radius: 50%;
  position:relative;
  cursor:pointer;
  display:inline-block;
  margin:10px 20px;
  &:after {
    width:24px;
    height:4px;
    background-color:black;
    content:"";
    left:50%;
    top:50%;
    margin-left:-12px;
    margin-top:-2px;
    position:absolute;
    transform: rotate(-45deg);
  }
  &:before{
    left:50%;
    top:50%;
    margin-left:-12px;
    margin-top:-2px;
    width:24px;
    height:4px;
    background-color:black;
    content:"";
    position:absolute;
    transform:rotate(45deg);
  }
}

.simpleRotate {
  animation-name:rotate;
  animation-duration: 0.1s 2 ease-in-out alternate;
}

.circle[data-animation="simpleRotate"]:not(.simpleRotate){
  transition: 200ms cubic-bezier(0.175, 0.885, 0.52, 1.775);
    &:hover{
      transform: scale(1.1);
    }
  }

.circle[data-animation="magnify"]:not(.magnify){
  transition:100ms ease-in-out;
  &:hover {
    transform: scale(0.9);
  }
}

.circle.magnify {
  transition: 200ms ease-in-out;
  transform: scale(1.6);
  opacity:0;
}

.fromMiddle{
  &:before,
  &:after{
    z-index:9999;
    transition-delay:150ms;
    transition:400ms ease-in-out;
  }
  span{
    width:38px;
    height:38px;
    background-color: black;
    display:inline-block;
    position: absolute;
    border-radius:100%;
    left:-2px;
    top:-2px;
    z-index:-9999;
    transform:scale(0.3);
    opacity:0;
    transition: 300ms ease-in-out;
  }
}

.fromMiddle:hover{
  &:before,
  &:after{
      position:absolute;
      background-color: #fff;
  }
  span{
    transform:scale(1);
    opacity:1;
  }
}

// ----------SLidding Navigation Buttons for form------------




#btn1 {
  top: 100px;
}

#btn2 {
  top: 200px;
}

div.button {
  background-color: black;
  color: #2c3e50;
  border: none;
  border-radius: 30px;
  width: 250px;
  height: 60px;
  position: absolute;
  right: -165px;
  transition: .7s ease;
  display: flex;
  align-items: center;
  padding: 2em;
}

div.button:hover {
  background-color: black;
  position: absolute;
  right: -50px;
  width: 300px;
  border-radius: 0px;
  box-shadow: 0px 5px 0px #c0392b;
}

div.button:active {
  background-color: #2c3e50;
  transition: 0s;
  color: white !important;
}

.button a {
  color: white;
}

.button img {
  padding-right: 3em;
}
