.cta-btn {
  color: white;
  font-weight: bold;
  border: 2px solid white;
  position: relative;
  border-radius: 0px;
  white-space: normal;
  font-size: 14px;
  letter-spacing: .091em;
  padding: 1.6em 3.6em;
}

.cta-btn:hover {
  color: white;
  text-decoration: none;
}

.cta-btn-red {
 background-color: $red;
 box-shadow: 0 0 0 4px $red, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
}
.cta-btn-blue {
 background-color: $blue;
 box-shadow: 0 0 0 4px $blue, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
}

.cta-btn-small {
  padding-right: 15px;
  padding-left: 15px;
}

.cta-btn-big {
  padding-right: 40px;
  padding-left: 40px;
}


.btn-facebook,
.btn-facebook:link,
.btn-facebook:visited {
  font-weight: bold;
  padding: 11px 15px;
  border-radius: 4px;
  background-color: $faceblue;
  color: white;
  transition: all 0.2s ease;
}


.btn-facebook:hover {
  background-color: #5e8eed;
}
