.flexbox {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flexbox-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.flex-center {
  display: flex;
  align-items: center;
}



.flex-item {
  flex: 1 0 auto;
}

// .flex-item-100 {
//   flex: 0 0 100%;
// }

.body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}


.flexbox-col {
  display: flex;
  align-items: left;
  justify-content: space-around;
  flex-direction: column;
}


.transition-smooth{
    -webkit-transition: height 2s ease; /* Safari */
    transition: height 2s ease;
  }

  .flex-right {
    display: flex;
    align-items: right;
    justify-content: flex-end;
  }
