.form-wrapper {
  height: 70vh;
  position: relative;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  background-color: white;
}

.form-inner-wrapper {
  height: calc(70vh - 70px);
  max-width: 100%;
  padding-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
}

.form-scroll {
  overflow: scroll;
  height: 100%;
}

.form-wrapper h1 {
  font-weight: 300;
}

.form-wrapper .row{
  margin: 0 0;
}

.simple_form {
  width: 100%;
  max-height: 100%;
}

.form-page {
  background-color: #FCFCFC;
  padding-bottom: 6.25em;
  padding-top: 6.25em;
}

.down-nav-btn {
  font-weight: 300;
  white-space: normal;
  font-size: 0.875em;
  letter-spacing: .091em;
  white-space: wrap;
  background-color: black;
  color: black;
  width: 100%;
  height: 100%;
  -webkit-transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
  transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  //box-shadow: 0 -3px 6px rgba(0,0,0,0.30), 0 -15px 12px rgba(0,0,0,0.22);
}

.down-nav-btn svg:hover {
  transition: 200ms cubic-bezier(0.175, 0.885, 0.52, 1.775);
  &:hover{
    transform: scale(1.1);
  }
}


.down-nav-btn a:hover {
  transition: 200ms cubic-bezier(0.175, 0.885, 0.52, 1.775);
  &:hover{
    transform: scale(1.1);
  }
}

.down-nav-cart {
  font-weight: 300;
  white-space: normal;
  font-size: 0.875em;
  letter-spacing: .091em;
  white-space: wrap;
  color: black;
  width: 100%;
  height: 100%;
  text-align: center;
  //border-left: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  background-color: black;
  color: white;
}

#pre-down-nav {
  position: absolute;
  bottom: 70px;
  height: 40px;
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pre-down-nav-btn {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

#cart-total {
  background-color: white;
  box-shadow: -2px -2px 2px 0px $lightgray;
  z-index: 1;
  font-weight: 500;
  box-shadow: 0 -3px 6px rgba(0,0,0,0.30), 0 -15px 12px rgba(0,0,0,0.22);
}

#down-nav {
  position: absolute;
  bottom: 0px;
  height: 70px;
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: stretch;
  align-items: center;
  z-index: 2;
}

.row .dough-form {
  margin: 0px 0px;
}

.dough-form h1{
  margin-top: 0px;
}

.dough-label {
  width: 100%;
  height: 30px;
  padding: 2px 2px;
  border-radius: 4px;
  text-align: center;
  color: black;
  opacity: 0.5;
}

.label-gray {
  background-color: $lightgray;
  border-color: $lightgray;
}

.img-decoration-wrapper img {
  z-index: 0;
  cursor: zoom-in;
}

.img-decoration-inner-wrapper {
  position: relative;
}

.decoration-price-tag {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  color: white;
  padding: 0.5em 1em;
  opacity: 0.5;
  background-image: linear-gradient(0deg,rgba(0,0,0,.9) 15%,transparent 50%);
  height: 30px;
  transition: height 1s;
}

.decoration-price-tag:hover {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  background-color: black;
  color: white;
  padding: 0.5em 1em;
  opacity: 1;
  height: 60px;
}

.green-btn {
  background-color: green;
}

#step-title {
  font-size: 1.875em;
}

.delete-link {
  font-size: 0.8em;
  color: black;
}

.active-category {
  text-decoration: underline;
}

.category-title {
  cursor: pointer;
}

#check {
  opacity: 0;
}

#final:hover {
 transition: 200ms cubic-bezier(0.175, 0.885, 0.52, 1.775);
  &:hover{
    transform: scale(1.1);
  }
}

@include media("<=phoneBig") {
  .form-wrapper {
    height: 650px;
  }

  .form-inner-wrapper {
    height: calc(650px - 70px);
  }
}

@include media(">phoneBig", "<=desktop") {
  .form-wrapper {
    height: 60vh;
  }

  .form-inner-wrapper {
    height: calc(60vh - 70px);
  }
}


@include media(">tablet", "<desktop") {
   .form-wrapper {
    height: 70vh;
  }

  .form-inner-wrapper {
    height: calc(70vh - 70px);
  }
}

@include media(">=992px") {
  .col-md-4 {
    width: calc(33.3333333333% - 20px);
  }
  .col-md-6 {
    width: calc(50% - 20px);
  }

  .col-md-3 {
    width: calc(25% - 20px);
  }
}
