
#progresstracker {
  margin-top: 3rem;
  display: block;
  font-size: 1em;
}

#progresstracker * {
  white-space: nowrap;
}

#progresstracker ul {
  list-style: none;
  padding: 0;
  text-align: center;
  display: table;
  width: 100%;
}

#progresstracker ul li {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  height: 0.75em;
  background: #f1f1f1;
}

#progresstracker span {
  background: #ededed;
  color: #444;
  padding: 1rem;
  margin: 0;
  border-radius: 100%;
  text-transform: uppercase;
  font-weight: bold;
  z-index: 1;
  display: inline-block;
  position: relative;
  line-height: 0;
}

#progresstracker ul li:first-of-type, #progresstracker ul li:last-of-type {
  background: transparent;
}

#progresstracker ul li:first-of-type:before {
  position: absolute;
  right: 0;
  background: #f1f1f1;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#progresstracker ul li:last-of-type:before,
#progresstracker ul li:not(:first-of-type).active:before {
  position: absolute;
  left: 0;
  background: #f1f1f1;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#progresstracker ul .complete:first-of-type:before,
#progresstracker ul li:not(:first-of-type).active:before {
  background: black;
}

#progresstracker ul .complete:last-of-type:before {
  background: #a7c862;
}

#progresstracker ul .complete:not(:first-of-type):not(:last-of-type):before {
  background: black;
  position: absolute;
  left: 0;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
}

#progresstracker .complete span {
  background-color: black;
  color: white;
}

#progresstracker .active span {
  color: white;
}
